BODY {

	FONT-SIZE: 12px; 
	LINE-HEIGHT: 12pt;
    font-family: "ו";
	margin-left: 0px;
	margin-top: 80px;
	margin-right: 0px;
	margin-bottom: 0px;
	}




.input1{BACKGROUND-COLOR: #F3F5F8; COLOR: #000000; FONT-FAMILY: "ו"; FONT-SIZE: 12px;BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid }

.td{{COLOR: #000000; FONT-FAMILY: "ו"; FONT-SIZE: 12px;text-align:left;}



