A:link {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #808080; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #b28201; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #53698a; TEXT-DECORATION: underline
}
.nom4:link {
	COLOR: #00fefe; TEXT-DECORATION: none
}
.nom4:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.nom4:hover {
	COLOR: #d8d8d8; TEXT-DECORATION: none
}
.left:link {
	COLOR: #0153ba; TEXT-DECORATION: none
}
.left:visited {
	COLOR: #8a9e00; TEXT-DECORATION: none
}
.left:hover {
	COLOR: #6f706f; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 18pt; FONT-FAMILY: ''
}
.caption {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; WORD-SPACING: 2px; COLOR: #1053ae; LINE-HEIGHT: 18pt; LETTER-SPACING: 5pt; TEXT-ALIGN: center
}
.space {
	LETTER-SPACING: 1pt
}
.space1 {
	LETTER-SPACING: -1pt
}
.space2 {
	LETTER-SPACING: 2pt
}
.font1 {
	FONT-SIZE: 9pt; COLOR: #01619b; LINE-HEIGHT: 12pt
}
.font2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #213758; LINE-HEIGHT: 15pt; FONT-FAMILY: ''
}
.font3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #1a7fbb; LINE-HEIGHT: 15pt; FONT-FAMILY: ''
}
.bg {
	BACKGROUND-COLOR: #000000
}
.bg1 {
	BACKGROUND-COLOR: #72706d
}
.bg2 {
	BACKGROUND-COLOR: #a8a5a0
}
.bg3 {
	BACKGROUND-COLOR: #f0eff0
}
.bg4 {
	BACKGROUND-COLOR: #ffffff
}
.button{
	vertical-align: middle;
	font-size: 12px;
	width:48px;
	height:20px;
	text-align: center;
	border:0;
	background-image:url(../images/login_button.gif);
	cursor: hand;
}
.button1 {
	BORDER-RIGHT: #c5c5c5 1px ridge; BACKGROUND-POSITION: center 70%; BORDER-TOP: #c5c5c5 1px ridge; FONT-SIZE: 9pt; BORDER-LEFT: #c5c5c5 1px ridge; CURSOR: hand; COLOR: #003173; PADDING-TOP: 2px; BORDER-BOTTOM: #c5c5c5 1px ridge; FONT-FAMILY: ו; BACKGROUND-COLOR: #f1f0f0
}
.list_td_title {
	COLOR: #ffffff; BACKGROUND-COLOR: #1a7fbb; TEXT-ALIGN: center
}
.list_td_arrange {
	PADDING-RIGHT: 5px; COLOR: #000000; BACKGROUND-COLOR: #e7e5e7; TEXT-ALIGN: right; rect: 
}
.list_td_arrange1 {
	COLOR: #000000; BACKGROUND-COLOR: #e7e5e7; TEXT-ALIGN: center
}
.bottom {
	COLOR: #003173; BACKGROUND-COLOR: #6f8ebb; TEXT-ALIGN: left
}
.list_td_context {
	PADDING-LEFT: 5px; CLIP: rect(10px 10px 10px 10px); COLOR: #003173; BACKGROUND-COLOR: #f3f3f3
}
.list_td_context1 {
	PADDING-LEFT: 5px; CLIP: rect(10px 10px 10px 10px); COLOR: #003173; BACKGROUND-COLOR: #ffffff
}
.table {
	WIDTH: 95%; BACKGROUND-COLOR: #ffffff
}
.table1 {
	WIDTH: 90%; BACKGROUND-COLOR: #ffffff
}
.table2 {
	WIDTH: 80%; BACKGROUND-COLOR: #ffffff
}
.table3 {
	WIDTH: 60%; BACKGROUND-COLOR: #ffffff
}
.input {
	BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; COLOR: #003173; BORDER-BOTTOM: #cbcbcb 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
