#divshow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 99; BACKGROUND: #eef3f6; LEFT: 925px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 88px; PADDING-TOP: 0px; POSITION: absolute; TOP: 597px; HEIGHT: 23px
}
#divsuccess {
	BORDER-RIGHT: #77ac8e 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #77ac8e 1px solid; PADDING-LEFT: 0px; Z-INDEX: 99; BACKGROUND: #ffffff; LEFT: 400px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #77ac8e 1px solid; WIDTH: 200px; PADDING-TOP: 0px; BORDER-BOTTOM: #77ac8e 1px solid; POSITION: absolute; TOP: 200px; HEIGHT: 100px
}
BODY {
	SCROLLBAR-FACE-COLOR: #cfe0ed; FONT-SIZE: 12px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ddeaf5; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffffff; LINE-HEIGHT: 12pt; SCROLLBAR-ARROW-COLOR: #8ba4b6; SCROLLBAR-TRACK-COLOR: #c8d0d8; FONT-FAMILY: "宋体"; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.navPoint {
	FONT-SIZE: 6pt; CURSOR: hand; COLOR: #014083; FONT-FAMILY: Webdings
}
SELECT {
	BORDER-RIGHT: #4a7eb8 1px solid; BORDER-TOP: #4a7eb8 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #4a7eb8 1px solid; COLOR: #000000; BORDER-BOTTOM: #4a7eb8 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff
}
.input1 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #eef7f0
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff
}
FORM {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
.td4 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 27px; BACKGROUND-COLOR: #ededed; TEXT-ALIGN: center
}
.login {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #467658; FONT-FAMILY: "宋体"; TEXT-ALIGN: left
}
.td1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #4d0101; FONT-FAMILY: "宋体"; HEIGHT: 28px; BACKGROUND-COLOR: #fcf7da; TEXT-ALIGN: left
}
.td2 {
	FONT-WEIGHT: bolder
}
.td3 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
.td4 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 27px; BACKGROUND-COLOR: #ededed; TEXT-ALIGN: center
}
.td5 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #77ac8e; TEXT-ALIGN: center
}
.td6 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 27px; BACKGROUND-COLOR: #aad2ac; TEXT-ALIGN: center
}
.td7 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 33px; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
.td8 {
	HEIGHT: 1px; BACKGROUND-COLOR: #ffffff
}
.td9 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 28px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.td10 {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: left
}
.td11 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #cc233b; FONT-FAMILY: "宋体"; HEIGHT: 33px; TEXT-ALIGN: center
}
.td12 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT: 24px; BACKGROUND-COLOR: #ededed; TEXT-ALIGN: left
}
.td13 {
	FONT-WEIGHT: bolder; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: "宋体"; HEIGHT: 45px; TEXT-ALIGN: center; text-valign: middle
}
.td14 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-ALIGN: left
}
.td15 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #e9f5eb; TEXT-ALIGN: center
}
.td16 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; HEIGHT: 27px; BACKGROUND-COLOR: #77ac8e; TEXT-ALIGN: left
}
.td17 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 28px; BACKGROUND-COLOR: #e6f1e4; TEXT-ALIGN: center
}
.td18 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 35px; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: left
}
.td19 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 35px; BACKGROUND-COLOR: #ededed; TEXT-ALIGN: left
}
.td20 {
	FONT-SIZE: 12px; COLOR: #006600; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.td19 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 35px; BACKGROUND-COLOR: #ededed; TEXT-ALIGN: left
}
.td21 {
	FONT-SIZE: 12px; COLOR: #003e00; FONT-FAMILY: "宋体"; HEIGHT: 28px; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: left
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
